<div class="cards">
    <mat-card class="studentCard">
        <mat-card-title>Preguntas corregidas</mat-card-title>
        <mat-card-content>
            <mat-list>
                <div *ngIf="markedQuestions">
                    <div *ngFor="let question of markedQuestions">
                        <mat-list-item>{{question.questionText}}</mat-list-item>
                        <mat-divider></mat-divider>
                    </div>
                </div>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
