<div class="checkOverflow studentContent">

    <mat-card class="studentCard">
        <mat-card-title>Preguntas corregidas</mat-card-title>
        <mat-card-content>
            <table mat-table [dataSource]="dataSourceMarked" class="mat-elevation-z8">
                <ng-container matColumnDef="questionText">
                    <th mat-header-cell *matHeaderCellDef class="center"> Pregunta </th>
                    <td mat-cell *matCellDef="let element" class="question"> {{element.questionText}} </td>
                </ng-container>
                <ng-container matColumnDef="userResponse">
                    <th mat-header-cell *matHeaderCellDef class="center"> Respuesta </th>
                    <td mat-cell *matCellDef="let element" class="answer"> 
                        <span *ngIf="element.userResponse">Sí</span> 
                        <span *ngIf="!element.userResponse">No</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="correct">
                <th mat-header-cell *matHeaderCellDef class="center"> Correccion </th>
                <td mat-cell *matCellDef="let element" class="icon"> 
                    <mat-icon *ngIf="element.correct">check</mat-icon>
                    <mat-icon *ngIf="!element.correct">clear</mat-icon>
                </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsMarked"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsMarked;"></tr>
            </table>
        </mat-card-content>
    </mat-card>

    <mat-card class="studentCard">
        <mat-card-title>Preguntas por corregir</mat-card-title>
        <mat-card-content>
                <table mat-table [dataSource]="dataSourceUnmarked" class="mat-elevation-z8">
                    <ng-container matColumnDef="questionText">
                        <th mat-header-cell *matHeaderCellDef class="center"> Pregunta </th>
                        <td mat-cell *matCellDef="let element" class="question"> {{element.questionText}} </td>
                    </ng-container>
                    <ng-container matColumnDef="userResponse">
                        <th mat-header-cell *matHeaderCellDef class="center"> Respuesta </th>
                        <td mat-cell *matCellDef="let element"class="answer"> 
                            <span *ngIf="element.userResponse">Sí</span> 
                            <span *ngIf="!element.userResponse">No</span>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsUnmarked"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsUnmarked;"></tr>
                    </table>
        </mat-card-content>
    </mat-card>

</div>
