<div class="checkOverflow studentContent">

    <mat-card class="studentCard">
        <mat-card-title>Preguntas corregidas</mat-card-title>
        <mat-card-content>
            <mat-list *ngIf="markedQuestions" role="list" class="correctSize">
                <mat-list-item *ngFor="let question of markedQuestions" role="listitem" class="checkOverflow">
                    <p class="question">{{question.questionText}}</p>
                    <div *ngIf="question.yesNoQuestion" class="answer">
                        <p *ngIf="question.userResponse">Sí</p>
                        <p *ngIf="!question.userResponse">No</p>
                    </div>
                    <div *ngIf="!question.yesNoQuestion" class="answer">
                        <p>Test response</p>
                    </div>
                    <mat-icon class="icon" *ngIf="question.correct">check</mat-icon>
                    <mat-icon class="icon" *ngIf="!question.correct">clear</mat-icon>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <mat-card class="studentCard">
        <mat-card-title>Preguntas por corregir</mat-card-title>
        <mat-card-content>
            <mat-list *ngIf="unmarkedQuestions" role="list" class="correctSize">
                <mat-list-item *ngFor="let question of unmarkedQuestions" role="listitem" class="checkOverflow">
                    <p class="question">{{question.questionText}}</p>
                    <div *ngIf="question.yesNoQuestion" class="answer">
                        <p *ngIf="question.userResponse">Sí</p>
                        <p *ngIf="!question.userResponse">No</p>
                    </div>
                    <div *ngIf="!question.yesNoQuestion" class="answer">
                        <p>Test response</p>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

</div>