target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
santatecla-definiciones/target/classes/META-INF/MANIFEST.MF
santatecla-definiciones/target/classes/META-INF/maven/com.grupo5/santatecla-definiciones/pom.properties
