version: "3"

services:
    db:
        image: mysql
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_ROOT_PASSWORD: T4cwGK3q5NdR3vMz
            MYSQL_DATABASE: santatecla-definiciones
            MYSQL_USER: santatecla-definiciones
            MYSQL_PASSWORD: AvScnGQp5e4GHnd
    app:
        build: ./app
        links:
            - db
        depends_on:
            - db
        ports:
            - "8080:8443"
        restart: always
        environment:
            SPRING_DATASOURCE_URL: jdbc:mysql://db/santatecla-definiciones?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
            SPRING_DATASOURCE_USERNAME: santatecla-definiciones
            SPRING_DATASOURCE_PASSWORD: AvScnGQp5e4GHnd