{{#chapters}}
<div class="card card-collapse">
    <div class="card-header card-header-warning" role="tab" id="{{ chapterName }}">
        <h5 class="mb-0 card-title chapterTitle">
            <a class="collapsed title" data-toggle="collapse" href="#collapse{{ chapterName }}" aria-expanded="false" aria-controls="collapse{{ chapterName }}">
                <i class="material-icons">keyboard_arrow_right</i>
                {{ chapterName }}
            </a>
            {{#teacher}}
            <div class="chapterDeleteButton">
            	<form action="/deleteChapter/{{id}}" method="post">
  	        	    <button type="submit" class=" btn btn-primary btn-fab btn-fab-mini btn-round deleteButtonChapter" data-toggle="modal" data-target="#deleteModal">
  					             <i class="material-icons">delete</i>
                  </button>
  			          <input type="hidden" name="_csrf" value={{csrfToken}}>
  			      </form>
          </div>
          {{/teacher}}
      </h5>
    </div>
    <div id="collapse{{ chapterName }}" class="collapse" role="tabpanel" aria-labelledby="{{ chapterName }}" data-parent="#accordion">
        <div class="card-body">
            {{#concepts}}
            <ul>
                <li class="chapterInfo">
                 <img src='/image/{{conceptName}}' class="conceptImage" />
                 <a href="/concept/{{conceptName}}">{{ conceptName }}</a>
                {{#teacher}}
                <div class="conceptDeleteButton">
                    <form action="/deleteConcept/{{id}}" method="post">
        	        	    <button type="submit" class=" btn btn-primary btn-fab btn-fab-mini btn-round deleteButtonChapter" data-toggle="modal" data-target="#deleteModal">
        					             <i class="material-icons">delete</i>
                        </button>
        			          <input type="hidden" name="_csrf" value={{csrfToken}}>
        			      </form>
                </div>
                {{/teacher}}
                </li>
            </ul>
            {{/concepts}}
            {{#teacher}}
  						<i class="material-icons">delete</i>
                  	</button>
  			            <input type="hidden" name="_csrf" value={{csrfToken}}>
  				</form>
	        </div>
	        {{/docente}}
      	</h5>
    </div>
    <div id="collapse{{ chapterName }}" class="collapse" role="tabpanel" aria-labelledby="{{ chapterName }}" data-parent="#accordion">
        <div class="card-body" id="concepts{{id}}">
            <script>loadConcepts("{{id}}")</script>
            {{#docente}}
            <div class="addQuestionSeeDiagram">
                <button type="button" class="btn btn-primary btn-fab btn-fab-mini btn-round" data-toggle="modal" data-target="#addConceptModal{{id}}">
                    <i class="material-icons">add</i>
                </button>
            </div>
            {{/teacher}}
        </div>
        <button type="button" class="btn btn-primary" id="showMoreBtnConcept{{id}}">
			Más resultados
		</button>
		<div id="loadGifConcept{{chapterId}"></div>
		<script type="text/javascript">
			$("#showMoreBtnConcept{{id}}").click(function (){
				loadConcepts("{{id}}");
			});
		</script>
    </div>
</div>
<div class="modal fade" id="addConceptModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="conceptModalLabel{{id}}" aria-hidden="true">
	  <form action="/addConcept" method="post">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="conceptModalLabel{{id}}">Inserte un nuevo concepto</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<p>Nombre</p>
	      	<input type="text" name="conceptName">
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-primary">Guardar</button>
		      </div>
            <input type="hidden" name="chapterName" value="{{chapterName}}">
	      <input type="hidden" name="_csrf" value={{csrfToken}}>
	    </div>
	    </div>
	    </div>
	    </form>
	  </div>
<br />
{{/chapters}}
{{^chapters}}
    <script>triggerOnceChapter()</script>
{{/chapters}}
