{{#chapters}}
<div class="card card-collapse">
    <div class="card-header card-header-warning" role="tab" id="{{ chapterName }}">
        <h5 class="mb-0 card-title chapterTitle">
            <a class="collapsed title" data-toggle="collapse" href="#collapse{{ chapterName }}" aria-expanded="false" aria-controls="collapse{{ chapterName }}">
                <i class="material-icons">keyboard_arrow_right</i>
                {{ chapterName }}
            </a>
            {{#docente}}
            <div class="chapterDeleteButton">
              <form action="/deleteChapter/{{id}}" method="post">
  	        	    <button type="submit" class=" btn btn-primary btn-fab btn-fab-mini btn-round deleteButtonChapter" data-toggle="modal" data-target="#deleteModal">
  					             <i class="material-icons">delete</i>
                  </button>
  			          <input type="hidden" name="_csrf" value={{csrfToken}}>
  			      </form>
          </div>
          {{/docente}}
      </h5>
    </div>
    <div id="collapse{{ chapterName }}" class="collapse" role="tabpanel" aria-labelledby="{{ chapterName }}" data-parent="#accordion">
        <div class="card-body">
            {{#concepts}}
            <ul>
                <li>
                <a href="/concept/{{conceptName}}">{{ conceptName }}</a>
                </li>
            </ul>
            {{/concepts}}
            {{#docente}}
            <div class="addQuestionSeeDiagram">
                <button type="button" class="btn btn-primary btn-fab btn-fab-mini btn-round" data-toggle="modal" data-target="#addConceptModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
            {{/docente}}
        </div>
    </div>
</div>
<br />
{{/chapters}}
{{^chapters}}
    <span>No más hay temas disponibles.</span>
{{/chapters}}
