{{#concepts}}
    <li class="chapterInfo">
        <img src='/image/concept/{{id}}' class="conceptImage" />
        <a href="/concept/{{id}}">{{ conceptName }}</a>
        {{#teacher}}
        <form action="/deleteConcept/concept/{{id}}" method="post">
            <button type="submit" class="btn btn-primary btn-fab btn-round">
        		<i class="material-icons">delete</i>
            </button>
        	<input type="hidden" name="_csrf" value={{csrfToken}}>
        </form>
        {{/teacher}}
    </li>
{{/concepts}}
{{^concepts}}
    <script>triggerOnceConcept("{{chapterId}}")</script>
{{/concepts}}