{{>header}}
<div class="content">
  <!-- Question cards -->
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title text-center">PREGUNTAS CORREGIDAS</h4>
        </div>
        <div class="card-body" id="Marked">
          <script>loadAnswers('{{conceptName}}')</script>
		  <!-- Write all marked answers -->
          {{#markedQuestions}}
		          {{>showquestion}}
          {{/markedQuestions}}
          {{^markedQuestions}}
          <p>No hay preguntas corregidas</p>
          {{/markedQuestions}}
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" id="showMoreBtn"">
	  	Más resultados
	  </button>
	  <div id="loadGif"></div>
	  <script type="text/javascript">
	  	$(document).ready(function (){
	  		$('#showMoreBtnMarked').click(function (){
	  			loadAnswersMarked('{{conceptName}}');
	  		});
	  	});
	  </script>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title text-center">PREGUNTAS POR CORREGIR</h4>
        </div>
        <div class="card-body" id="Unmarked">
          {{#noUnmarkedAnswers}}
          <p>No hay preguntas por corregir</p>
          {{/noUnmarkedAnswers}}
          {{^noUnmarkedAnswers}}
          {{#questions}}
          	{{#answer}}
		          {{^marked}}
		          {{>showquestion}}
          {{/unmarkedQuestions}}
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" id="showMoreBtnUnmarked">
	  	Más resultados
	  </button>
	  <div id="loadGif"></div>
	  <script type="text/javascript">
	  	$(document).ready(function (){
	  		$('#showMoreBtnUnmarked').click(function (){
	  			loadAnswersUnmarked('{{conceptName}}');
	  		});
	  	});
	  </script>
  </div>
  <!-- Show more button -->

  <!-- Diagram button -->
  <div class="addQuestionSeeDiagram">
    <button
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#diagramModal"
    >
      DIAGRAMA
    </button>
  </div>

  
  <!-- Question button -->
  <div class="addQuestionSeeDiagram">
    <button
      type="button"
      class="btn btn-primary btn-fab btn-fab-mini btn-round"
      data-toggle="modal"
      data-target="#questionModal"
    >
      <i class="material-icons">add</i>
    </button>
  </div>
  
</div>

<!-- Question Modal -->
<div
  class="modal fade"
  id="questionModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="questionModalLabel"
  aria-hidden="true"
>

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="questionModalLabel">{{questionText}}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/saveAnswer/{{conceptName}}" method="post">
        <div class="modal-body">
            {{#openQuestion}}
            <input
              name="answerText"
              type="textarea"
              class="form-control"
              id="openQuestion"
              placeholder="Escribe aquí tu respuesta"
            />
            {{/openQuestion}}
            {{^openQuestion}}
            <div class="radio">
              <label><input type="radio" name="answerOption" value="yes" onchange="enableButton()">Sí</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="answerOption" value="no" onchange="enableButton()">No</label>
            </div>
            {{/openQuestion}}
        </div>
        <div class="modal-footer">
          <input type="submit" id="questionSubmit" class="btn btn-primary" value="Enviar">
          <input type="hidden" name="questionText" value="{{questionText}}">
          <input type="hidden" name="questionType" value="{{questionType}}">
          <input type="hidden" name="answerQuestionText" value="{{#answerText}}{{answerText}}{{/answerText}}">
          <input type="hidden" name="justificationQuestionText" value="{{#justificationText}}{{justificationText}}{{/justificationText}}">
          <input type="hidden" name="_csrf" value={{csrfToken}}>
        </div>
      </form>
    </div>
  </div>
</div>

{{>diagram}}

{{>footer}}
