{{>header}}
<div class="content">
  <!-- Question cards -->
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title text-center">PREGUNTAS CORREGIDAS</h4>
        </div>
        <div class="card-body" id="Marked">
          <script>loadAnswers('{{conceptName}}')</script>
		  <!-- If there are no marked answers -->
          {{#noMarkedAnswers}}
          <p>No hay preguntas corregidas</p>
		  {{/noMarkedAnswers}}
		  <!-- Else -->
		  {{^noMarkedAnswers}}
		  <!-- Write all marked answers -->
          {{#answers}}
          {{#marked}}
          {{>showquestion}}
          {{/marked}}
          {{/answers}}
          {{/noMarkedAnswers}}
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" id="showMoreBtn"">
	  	Más resultados
	  </button>
	  <div id="loadGif"></div>
	  <script type="text/javascript">
	  	$(document).ready(function (){
	  		$('#showMoreBtnMarked').click(function (){
	  			loadAnswersMarked('{{conceptName}}');
	  		});
	  	});
	  </script>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title text-center">PREGUNTAS POR CORREGIR</h4>
        </div>
        <div class="card-body" id="Unmarked">
          {{#noUnmarkedAnswers}}
          <p>No hay preguntas por corregir</p>
          {{/noUnmarkedAnswers}}
          {{^noUnmarkedAnswers}}
          {{#answers}}
          {{^marked}}
          {{>showquestion}}
          {{/marked}}
          {{/answers}}
          {{/noUnmarkedAnswers}}
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" id="showMoreBtnUnmarked">
	  	Más resultados
	  </button>
	  <div id="loadGif"></div>
	  <script type="text/javascript">
	  	$(document).ready(function (){
	  		$('#showMoreBtnUnmarked').click(function (){
	  			loadAnswersUnmarked('{{conceptName}}');
	  		});
	  	});
	  </script>
  </div>
  <!-- Show more button -->

  <!-- Diagram button -->
  <div class="addQuestionSeeDiagram">
    <button
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#diagramModal"
    >
      DIAGRAMA
    </button>
  </div>
  
  <!-- Question button -->
  <div class="addQuestionSeeDiagram">
    <button
      type="button"
      class="btn btn-primary btn-fab btn-fab-mini btn-round"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      <i class="material-icons">add</i>
    </button>
  </div>
  
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Qué es Spring?</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input
          type="textarea"
          class="form-control"
          id="openQuestion"
          placeholder="Escribe aqui tu respuesta"
        />
        <input type="hidden" name="_csrf" value={{csrfToken}}>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>

{{>diagram}}

{{>footer}}
