<div class="correctedAnswers">
	{{#marked}}
  	<form action="/delete/{{id}}" method="post">
 	 {{/marked}}
  	 {{^marked}}
  	<form action="/mark/{{id}}" method="post">
 	 {{/marked}}
		<div class="uncorrectedAnswersJ">
			<p>{{answerText}}</p>
			<div class="correction">
				{{#marked}}
				{{#correct}}
				<div class="form-check form-check-inline">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" checked>
						Correcta
						<span class="form-check-sign">
							<span class="check"></span>
						</span>
					</label>
				</div>
				<div class="form-check  form-check-inline">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" ">
          Incorrecta
          <span class=" form-check-sign">
						<span class="check"></span>
						</span>
					</label>
				</div>
				{{/correct}}
				{{^correct}}
				<div class="form-check form-check-inline">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox">
						Correcta
						<span class="form-check-sign">
							<span class="check"></span>
						</span>
					</label>
				</div>
				<div class="form-check  form-check-inline">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" checked>
						Incorrecta
						<span class="form-check-sign">
							<span class="check"></span>
						</span>
					</label>
				</div>
				{{/correct}}
				{{/marked}}
				{{^marked}}
				<div class="form-check form-check-inline">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" name="correctAnswer">
						Correcta
						<span class="form-check-sign">
							<span class="check"></span>
						</span>
					</label>
				</div>
				<div class="form-check  form-check-inline">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" name="incorrectAnswer">
						Incorrecta
						<span class="form-check-sign">
							<span class="check"></span>
						</span>
					</label>
				</div>
				{{/marked}}
			</div>
			{{#marked}}
			<div class="uncorrectedAnswersButton">
				<button type="submit" class="btn btn-primary btn-fab btn-fab-mini btn-round" data-toggle="modal" data-target="#deleteModal">
					<i class="material-icons">delete</i>
				</button>
			</div>
			{{/marked}}
			{{^marked}}
			<div class="uncorrectedAnswersButton">
				<button type="submit" class="btn btn-primary btn-fab btn-fab-mini btn-round" data-toggle="modal" data-target="#exampleModal">
					<i class="material-icons">add</i>
				</button>
			</div>
			{{/marked}}
			{{#justification}}
			<div class="justification">
				<p>{{justificationText}}</p>
				<div class="justification2">
					{{#valid}}
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" checked>
							Valida
							<span class="form-check-sign">
								<span class="check"></span>
							</span>
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox">
							Invalida
							<span class="form-check-sign">
								<span class="check"></span>
							</span>
						</label>
					</div>
				</div>
				{{/valid}}
				{{^valid}}
				<div class="form-check form-check-inline">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox">
						Valida
						<span class="form-check-sign">
							<span class="check"></span>
						</span>
					</label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" checked>
						Invalida
						<span class="form-check-sign">
							<span class="check"></span>
						</span>
					</label>
				</div>
			</div>
		</div>
		{{/valid}}
		{{/justification}}
</div>
<input type="hidden" name="_csrf" value={{csrfToken}}>
</form>
</div>

