{{>header}}
<div class="content">
  <div class="url">
    <h3>URL:</h3>
    <input type="text" class="form-control" placeholder="www.urldelconcepto.com">
  </div>
  <div class="row">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title text-center">PREGUNTAS CORREGIDAS</h4>
      </div>
      <div class="card-body">
        <!-- If there are no marked answers -->
		  {{#noMarkedAnswers}}
          <p>No hay preguntas corregidas</p>
		  {{/noMarkedAnswers}}
		  <!-- Else -->
		  {{^noMarkedAnswers}}
		  <!-- Write all marked answers -->
          {{#answers}}
          {{#marked}}
          {{>showQuestionTeacher}}
          {{/marked}}
          {{/answers}}
          {{/noMarkedAnswers}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title text-center">PREGUNTAS POR CORREGIR</h4>
      </div>
      <div class="card-body">
		  {{#noUnmarkedAnswers}}
          <p>No hay preguntas por corregir</p>
          {{/noUnmarkedAnswers}}
          {{^noUnmarkedAnswers}}
          {{#answers}}
          {{^marked}}
          {{>showQuestionTeacher}}
          {{/marked}}
          {{/answers}}
          {{/noUnmarkedAnswers}}
        
      </div>
    </div>
  </div>
</div>
{{>footer}}