{{>header}}
<div class="content">
  <div class="url">
    <h3>URL:</h3>
    <input type="text" class="form-control" placeholder="www.urldelconcepto.com">
    <input type="hidden" name="_csrf" value={{csrfToken}}>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title text-center">PREGUNTAS CORREGIDAS</h4>
      </div>
      <div class="card-body">
        <!-- If there are no marked answers -->
		  {{#noMarkedAnswers}}
          <p>No hay preguntas corregidas</p>
		  {{/noMarkedAnswers}}
		  <!-- Else -->
		  {{^noMarkedAnswers}}
		  <!-- Write all marked answers -->
          {{#answers}}
          {{#marked}}
          {{>showQuestionTeacher}}
          {{/marked}}
          {{/answers}}
          {{/noMarkedAnswers}}
          <button type="button" class="btn btn-primary btn-fab btn-fab-mini btn-round" data-toggle="modal" data-target="#addAnswerModal">
     		<i class="material-icons">add</i>
 		  </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title text-center">PREGUNTAS POR CORREGIR</h4>
      </div>
      <div class="card-body">
		  {{#noUnmarkedAnswers}}
          <p>No hay preguntas por corregir</p>
          {{/noUnmarkedAnswers}}
          {{^noUnmarkedAnswers}}
          {{#answers}}
          {{^marked}}
          {{>showQuestionTeacher}}
          {{/marked}}
          {{/answers}}
          {{/noUnmarkedAnswers}}
        
      </div>
    </div>
  </div>
 <!-- Add answer Modal -->
	<div class="modal fade" id="addAnswerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <form action="/addAnswer/{{conceptName}}" method="post">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Inserte una nueva respuesta</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<p>Pregunta: </p>
	        <input type="text" name="questionText" class="inputTextModal">
	      	<p>Respuesta: </p>
	        <input type="text" name="answerText" class="inputTextModal">
	        <div class="form-check form-check-inline">
	            <label class="form-check-label">
	              <input class="form-check-input" type="checkbox" name="correctAnswer">
	              Correcta
	              <span class="form-check-sign">
	                <span class="check"></span>
	              </span>
	            </label>
	         </div>
	         <div class="form-check form-check-inline">
	            <label class="form-check-label">
	              <input class="form-check-input" type="checkbox" name="incorrectAnswer">
	              Incorrecta
	              <span class="form-check-sign">
	                <span class="check"></span>
	              </span>
	            </label>
	          </div>
	          <p>Justificacion: </p>
	          <input type="text" name="justificationText" class="inputTextModal" placeholder="Dejar en blanco en caso de que no haya">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
	        <button type="submit" class="btn btn-primary">Guardar</button>
	      </div>
	      <input type="hidden" name="_csrf" value={{csrfToken}}>
	    </div>
	  </div>
	  </form>
	</div>
</div>  
{{>footer}}
