
/* CONCEPT STYLES */

.content {
  margin: 0 auto;
  width: 98%;
}

.question {
  overflow: auto;
}

.question h6 {
  width: 45%;
  float: left;
}

.question h5 {
  width: 30%;
  float: left;
}

.question p {
  width: 30%;
  margin-left: 15px;
  float: left;
}

.question i {
  width: 10%;
  float: right;
}

.addQuestionSeeDiagram {
  display: flex;
  align-items: center;
  padding-bottom: 2%;
}

.addQuestionSeeDiagram button {
  margin: 0 auto;
}
