.checkOverflow {
    overflow: auto;
}

.studentContent {
    padding-top: 2.5%;
}

.studentCard {
    width: 48%;
    float: left;
}

mat-card-title {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2%;
}

.correctSize .mat-list-item {
    height: auto;
}

.center {
    text-align: center;
}

.question {
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.answer {
    width: 40%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.icon {
    width: 10%;
    text-align: center;
}

button[color="primary"] {
    margin: 10px
}