.checkOverflow {
    overflow: auto;
}

textarea {
    resize: none;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

.teacherContent {
    padding-top: 2.5%;
}

.teacherCard {
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

mat-card-title {
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

mat-nav-list{
    background-color: lightgray;
}

mat-card-actions{
    color: blue;
}

mat-card-subtitle{
    font: arial;
    font-size: 80%;
}


.correctSize .mat-list-item {
    height: auto;
    font-family: sans-serif;
}

.answer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    width: 80%;
    text-align: left;
}

.question {
    float: left;
    width: 50%;
}

.icon {
    float: left;
    width: 10%;
}

table {
    width:90%
}

button {
    margin: 5px
}